
/* commom */
body { background-color: #f0f0f0; font-family: 'Microsoft YaHei', 'SimHei', sans-serif; }
pre { padding: 0; background: none; }
pre code { font-size: 14px; }
a { color: #343434; text-decoration:none; }
a:hover, a:focus { color: #343434; background: #c3c3c3; text-decoration: none; }

/* Table */
table       { border-collapse: collapse; margin: 10px 0 10px; padding: 0; border-top: 2px solid #303030; border-bottom: 2px solid #303030; }
table th    { background: #c3c3c3; padding: 2px 10px; }
table tr    { background-color: #fff; border-top: 1px solid #d8d8d8; margin: 0; padding: 0; } 
table tr:nth-child(2n)   { background: #E5EAED; }
table tr th, table tr td   { border: 1px solid #d8d8d8; margin: 0; padding: 2px 10px; text-align: left; color: #555; }
table tr th:first-child, table tr td:first-child  { border-left: none; }
table tr th:last-child, table tr td:last-child { border-right: none; }

/* navbar */
nav{
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    -o-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    border-radius: 0;
}
.navbar-nav li{ width: 95px; text-align: left; }


/*--------------------------------------------
            index post
--------------------------------------------*/
.index-post  { margin-bottom: 20px; padding: 10px 0; border-bottom: 1px dashed #bebebe; }
.index-post .date    { font-style: italic; color: #888; }
.index-post header    { font-size: 26px; font-family: Georgia; text-shadow: 1px 1px #FFFFFF; }
.index-post .more { text-align: right; font-family: Verdana; color: #898989; font-size: 12px; }

/*--------------------------------------------
                page
--------------------------------------------*/
.index-pagination                 { background: none repeat scroll 0 0 #FFFFFF; list-style: none outside none; }
.index-pagination li              { display: inline; padding-top: 20px; }
.index-pagination li a            { -moz-transition: background-color 0.1s linear 0s, color 0.1s linear 0s; background: none repeat scroll 0 0 #888888; border-radius: 5px 5px 5px 5px; color: #FFFFFF; display: block; float: left; font-size: 12px; margin-right: 7px; padding: 0 6px; text-decoration: none; text-shadow: none; }
.index-pagination li.current a    { background-color: #000000; color: #FFFFFF; text-shadow: 0 1px #393B3F; }
.index-pagination li a:hover      { background-color: #000000; color: #EDEDED; text-shadow: 0 1px #393B3F; }


/*--------------------------------------------
                sidebar
--------------------------------------------*/
.sidebar .category ul   {list-style: none; margin: 10px 0px; -webkit-padding-start: 0px; }
.sidebar .category ul li a { display: block; line-height: 30px; width: 100%; padding-left: 40px; }
.sidebar .category ul li a span { display: inline-block; float: right; padding: 0px 8px; line-height: 20px; margin-top: 5px; }

.sidebar .tags  { line-height: 1.5; margin: 0px 40px; }
.sidebar .tags a { display: inline; }

.sidebar-title { display: block; padding: 12px 15px 0px 12px; font-size: 16px; font-weight: bold; margin-bottom: 10px;}
.sidebar-title span {
    display: inline-block;
    float: right;
    padding: 2px 5px 2px;
    background-color: #d1d1d1;
    border: 1px solid #bfbfbf;
    margin-right: 20px;
    font-size: 77%;
    color: #444;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}

/* index main */
.main{ min-height: 800px; }
.main hr { margin-top: 10px; margin-bottom: 10px; }

.posthead { text-align: center; border-bottom: 1px dashed #a0a0a0; }
.posthead  .description { padding: 8px 12px; border-top: 1px dashed #a0a0a0; font-style: italic; color: #888; }
.postbody pre  { background-color: #e8e8e8; border-left: 1px solid #1f1f1f; border-top: 1px solid #1f1f1f; border-right: 1px solid #1f1f1f; border-bottom: 1px solid #1f1f1f; font: 12px/1.5 Monaco,serif; margin: 10px 0 10px 0px; overflow:  auto; color: #303030; border-radius: 3px 3px 3px 3px; }

.post-content a { border-bottom: 1px dotted #686868; }

/** Copyright declaration */
.post-copyright {
    margin: 20px 10px 15px 0;
    font-family: verdana, \9ED1\4F53, sans-serif;
    background: #9ccbf1;
    background: -moz-linear-gradient(-90deg, #6db0e6 0%, #8fbadd 4%, #9ccbf1 15%, #9ccbf1 100%);
    background: -webkit-linear-gradient(-90deg, #6db0e6 0%, #8fbadd 4%, #9ccbf1 15%, #9ccbf1 100%);
    background: -ms-linear-gradient(-90deg, #6db0e6 0%, #8fbadd 4%, #9ccbf1 15%, #9ccbf1 100%);
    background: linear-gradient(-90deg, #6db0e6 0%, #8fbadd 4%, #9ccbf1 15%, #9ccbf1 100%);
    border-top: 1px solid #65a5d8;
    border-left: 1px solid #6db0e6;
    border-right: 1px solid #6db0e6;
    border-bottom: 1px solid #6db0e6;
    border-radius: 3px 3px;
}
.post-copyright p { padding: 0 8px; line-height: 26px; font-size: 12px; color: #155b92; margin: 0px; }
.post-copyright p a { color: #000; }
.post-copyright p a:hover { color: #000; }

.pager li>a:hover, .pager li>a:focus { background: #c3c3c3; }

/* footer */
footer{
    min-height: 50px;
    line-height: 50px;
    margin-top: 30px;
    background: #3f4850;
    color: #aaa;
    text-align: center;

    -webkit-box-shadow: 0 -2px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 -2px 4px rgba(0,0,0,0.5);
    -o-box-shadow: 0 -2px 4px rgba(0,0,0,0.5);
    box-shadow: 0 -2px 4px rgba(0,0,0,0.5);
}
footer a:link {color: #aaa}       /* 未访问的链接 */
footer a:visited {color: #aaa}    /* 已访问的链接 */
footer a:hover, footer a:focus {color: #fff; background: none; }
footer a:active {color: #bbb}     /* 选定的链接 */
footer .point{ margin: 0 8px; }

/* 供 category.html 和 tag.html 使用  */
.tag-page h2 {margin-top: 0px}
.tag-box li i { opacity: .9; }
.tag-box a { padding: 4px 6px; margin: 2px; background: #eee; color: #555; border-radius: 3px; text-decoration: none; border: 1px dashed #cccccc; }
.tag-box a span { vertical-align: super; font-size: .8em; }
.tag-box a:hover { background-color: #c3c3c3; }
.tag-box a.active { background: #57A957; border: 1px solid #4c964d; color: #FFF; }
.inline { list-style: none; margin: 0; overflow: hidden; }
.inline li { float: left; position: relative; margin-left: 10px; line-height: 30px; }
.tag-item li {line-height: 35px;list-style:none;}
.tag-item span {color:#777}

/* index 和 post 页面上，显示 category 和 tag  */
.page[index] .metadata { min-height: 20px; }
.page[post] .metadata { min-height: 20px; display:flex; flex-wrap: wrap; justify-content:center; }
.meta-info { float:left; margin-right:15px; }
.meta-info i { padding-right:0; margin-right:3px; }
.meta-info a { border-bottom: 1px dotted #686868; color: #343434; }
.meta-info a:hover { background: #c3c3c3; border-bottom: 1px solid #777; text-decoration: none; }

/**
 * Blockquotes
 */
blockquote {
    color: #444;
    border-left: 5px solid #D6DBDF;
    padding-left: 15px;
    font-size: 16px;
    background: rgba(112,138,153,.1);
    /*font-style: italic;*/
}
blockquote:last-child {
    margin-bottom: 0;
}

/**
 * back to top
 */
#back-top {
    position: fixed;
    right: 25px;
    bottom: 10px;
    width: 60px;
    height: 60px;
    background-color: #bbb;
    border-radius:7px;
    opacity: 0.8;
    display: none;
    z-index: 888;
}
#back-top .arrow{
    margin:0 auto;
    padding-top:11px;
    width:0;
    height: 0;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent; 
    border-bottom: 15px solid #7f7f7f;
}

#back-top .stick{
    margin:0 auto;
    padding-bottom:21px;
    width: 13px;
    border-bottom: 13px solid #bbb;
    background-color: #7f7f7f;
}

.shadow-bottom-center{
    background-color:#f8f8fd; 
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.4),0 0 20px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4),0 0 20px rgba(0,0,0,0.1) inset;
    -o-box-shadow: 0 1px 5px rgba(0,0,0,0.4),0 0 20px rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4),0 0 20px rgba(0,0,0,0.1) inset;
}

/**
 * 文章目录相关
 */
@media screen and (min-width: 768px){
    #markdown-toc {
        display: none;
    }
}

@media screen and (max-width: 1200px){
    blockquote {
        border-left: 3px solid #D6DBDF;
        padding-left: 5px;
        font-size: 14px;
    }
    pre code{
        font-size: 12px;
    }
}
