table.music caption { text-align: center; color: #303030; }
table.music, table.music td	{ border: 1px solid #303030; }
table.music td	{ min-width: 2.2em; }
table.music tr td.changed { background: #80ff80; }

.note { float: left; position: relative; }
.dot { position: absolute; top: -10px; left: 2px; }
.notemark { position: absolute; left: 0.7em; }
